  <tr class="info">
    <td><% if ! note.user.nil? %><%= note.user.name %><% end %></td>
    <td><%= note.title %></td>
    <td><%= note.content %></td>
    <td><%= link_to 'Show', note, :class => "btn" %></td>
    <td><%= link_to 'Edit', edit_note_path(note), :class => "btn" %></td>
    <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %></td>
  </tr>
