<!DOCTYPE html>
<html>
<head>
  <title>Training</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Notes training on rails</a>
    <ul class="nav">
      <li><a href="/notes/">Notes</a></li>
      <li><a href="/users/">Users</a></li>
<% if user_signed_in? %>
      <% if current_user.isadmin %>
      <li><a href="/admin/">Admin</a></li>
      <% end %>
      <li><a href="#">Welcome <%= current_user.email %></a></li>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
<% else %>
      <li><%= link_to 'Register', new_user_registration_path %></li><li><%= link_to 'Sign in', new_user_session_path %></li>
<% end %>
    </ul>
  </div>
</div>
<div class="notice"><%= notice %></div>
<div class="alert"><%= alert %></div>
<div class="offset1 span10">

<%= yield %>
</div>
</body>
</html>
